@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>長榮大學</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>歡迎來到長榮大學</h2>
        <p>
            0.0
        </p>
        <p><a class="btn btn-default" href="https://www.cjcu.edu.tw/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>建置本站</h2>
        <p>請依教學逐步建置</p>
        <p><a class="btn btn-default" href="https://goo.gl/Kiw8np">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>程式碼下載</h2>
        <p>請修讀課程</p>
        <p><a class="btn btn-default" href="https://elearn.cjcu.edu.tw/mooc/index.php">修讀此課程 &raquo;</a></p>
    </div>
</div>